@import url("https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&family=Lilita+One&family=Lobster&family=Oleo+Script:wght@400;700&family=Orelega+One&family=Pacifico&family=Permanent+Marker&family=Rubik+Dirt&family=Rubik+Scribble&family=Rubik+Spray+Paint&family=Triodion&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  background: url(https://4kwallpapers.com/images/wallpapers/dark-background-abstract-background-network-3d-background-3840x2160-8324.png);
}
.container {
  display: flex;
  flex-direction: column;
  width: 1050px;
  height: auto;
  background-color: rgba(128, 126, 126, 0.1);
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.containerInside {
  display: flex;
  flex: 1;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.login {
  width: 800px;
}
form {
  width: 350px;
  margin: 60px auto;
  margin-top: 60px;
}
h1 {
  color: white;
  margin: 40px;
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: "Lilita One", serif;
  font-size: 45px;
}

p {
  text-align: center;
  margin: 10px;
  font-family: "Oleo Script", serif;
  font-size: 25px;
}
hr {
  border-top: 5px solid rgb(85, 196, 6);
}

.pic img {
  margin-top: 30px;
  width: 500px;
  height: 90%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
form label {
  display: block;
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
  font-family: "Lilita One", serif;
  color: white;
}
input {
  width: 100%;
  margin: 5px;
  /* outline: none; */
  padding: 10px;
  font-family: "Oleo Script", serif;
  font-size: 20px;
  cursor: text;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  border: 1px solid #c7c7c7;
  color: rgb(237, 237, 237);
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 2px 10px rgba(0, 255, 0, 0.4);
}
input:focus {
  outline: none;
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.7);
}
button {
  width: 250px;
  margin-left: 50px;
  margin-top: 30px;
  font-family: "Lilita One", serif;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #28a745;
  border: 1px solid #28a745;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease-in-out;
  outline: none;
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.7);
}

button:hover {
  background-color: #218838;
  box-shadow: 0 4px 10px rgba(0, 255, 0, 0.4);
}

button:active {
  background-color: #1e7e34;
  box-shadow: 0 2px 5px rgba(0, 255, 0, 0.3);
}

p {
  margin: 20px;
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Oleo Script", serif;
}